<h1>Hãy hỏi cộng đồng một câu hỏi đúng/sai hoặc có/không</h1>

<form method="post" action="/ask">

<textarea name="qustopion" id="" cols="30" rows="10"></textarea>
<button>Gửi </button>

</form>
