<h1>This is Home viewport</h1>
<!--
<h1>Question:{{question.questionContent}}</h1>

<form action='"/answer"+{{question.id}}' method="POST">
<input type="submit" name="answer" value="yes">
<input type="submit" name="answer" value="no">
</form>